<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">My Pet Store</a>     
        <div class="collapse navbar-collapse" id="navbarSupportedContent">         
            <div class="d-flex">
                <input class="form-control me-2" type="search" @bind="search">
                <a href="/?search=@search" class="btn btn-secondary">Search</a>
            </div>
        </div>
    </div>
</nav>

@code{
    private string search;
}