@page
@model MyPetStore.Web.Pages.Customers.AddModel
<form method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="mb-3">
        <label asp-for="Input.FirstName"></label>
        <input class="form-control" asp-for="Input.FirstName" />
        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Input.LastName"></label>
        <textarea class="form-control" asp-for="Input.LastName"></textarea>
        <span asp-validation-for="Input.LastName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Input.Email"></label>
        <input class="form-control" asp-for="Input.Email" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
</form>
