@page "/Products/Edit/{Id}"
@model MyPetStore.Web.Pages.Products.EditModel
@if (!string.IsNullOrEmpty(Model.Message))
{
    <div class="alert alert-success">
        @Model.Message
    </div>
}
<form method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly"></div>
    <input asp-for="ProductDto.Id" type="hidden" />
    <div class="mb-3">
        <label asp-for="ProductDto.Name" class="form-label"></label>
        <input class="form-control" asp-for="ProductDto.Name" />
        <span asp-validation-for="ProductDto.Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="ProductDto.Description" class="form-label"></label>
        <textarea class="form-control" asp-for="ProductDto.Description"></textarea>
        <span asp-validation-for="ProductDto.Description" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="ProductDto.Price" class="form-label"></label>
        <input class="form-control" asp-for="ProductDto.Price" />
        <span asp-validation-for="ProductDto.Price" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="ProductDto.Image"></label> <span class="text-muted">(optional)</span>
        <input class="form-control" asp-for="ProductDto.Image" accept="image/*" />
        <span asp-validation-for="ProductDto.Image" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
</form>